<%- include ../include/header.html%>
<div class="panel panel-default col-xs-8 col-xs-offset-2">
    <div class="panel-body">
        <div class="row col-xs-10" style="font-family: \5FAE\8F6F\96C5\9ED1">
            <form class="col-xs-offset-4" action="/article/add" method="POST" enctype="multipart/form-data">
                <input type="hidden" value="<%=article._id%>" name="_id">
                <div class="form-group">
                    <label for="exampleInputText">标题</label>
                    <input type="text" class="form-control" value="<%=article.title%>" id="exampleInputText" placeholder="请输入用户名" name="title">
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <textarea class="form-control" cols="30" rows="10" name="content"><%=article.content%></textarea>
                </div>
                <div class="form-group">
                    <p><img src="<%=article.img%>" class='img-responsive' alt="图片"></p>
                    <label for="userphoto">图片</label>
                    <input type="file" id="userphoto" name="img">
                </div>
                <button type="submit" class="btn btn-warning">提交</button>
            </form>
        </div>
    </div>
</div>
<%- include ../include/footer.html%>